.font{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.textAlign{
    text-align: center;
}

.titleSize{
    font-size: 7vh;
}

.output{
    height: 50vh;
    width: 50vh;
    border: 3px solid black;
    position: absolute;
    top: 60vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.rockPosition{
    position: absolute;
    top: -25%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.paperPosition{
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scissorsPosition{
    position: absolute;
    top: -25%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.buttonSize{
    height: 6vh;
    width: 12.5vh;
    font-size: 3vh;
    white-space: nowrap;
    padding: 1px;
}

.buttonTextCenter{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}